<h1 class="vclAlignCentered">{{t 'emails.common.adminGreeting'}}</h1>

<h2 class="vclAlignCentered"> Bestellung wurde storniert: </h2>

<p class="vclAlignCentered">
  <a href="{{abLink}}">{{abLink}}</a>
</p>
